In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('loan-test.csv')

In [7]:
df.head(2)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,1.0
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,1.0

In [9]:
df.isna().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
Loan_Status          29
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    object
 2   Married            367 non-null    object
 3   Dependents         357 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      344 non-null    object
 6   ApplicantIncome    367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         362 non-null    float64
 9   Loan_Amount_Term   361 non-null    float64
 10  Credit_History     338 non-null    float64
 11  Property_Area      367 non-null    object
 12  Loan_Status        338 non-null    float64
dtypes: float64(4), int64(2), object(7)
memory usage: 37.4+ KB

In [13]:
dfGender = df['Gender'].mode()[0]
print(dfGender)

Male

In [15]:
df['Gender'].fillna(dfGender, inplace=True)

C:\Users\beliz\AppData\Local\Temp\ipykernel_8948\517115600.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].fillna(dfGender, inplace=True)

In [17]:
dfDependents = df['Dependents'].mode()[0]
print(dfDependents)

0

In [19]:
df['Dependents'].fillna(dfDependents, inplace=True)

C:\Users\beliz\AppData\Local\Temp\ipykernel_8948\63033673.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Dependents'].fillna(dfDependents, inplace=True)

In [21]:
df.isna().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
Loan_Status          29
dtype: int64

In [23]:
dfSelf_Employed = df['Self_Employed'].mode()[0]
print(dfSelf_Employed)

No

In [25]:
dfLoanAmount = df['LoanAmount'].mean()

In [27]:
print(dfLoanAmount)

136.13259668508286

In [29]:
df['LoanAmount'].fillna(dfLoanAmount, inplace=True)

C:\Users\beliz\AppData\Local\Temp\ipykernel_8948\1080746091.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['LoanAmount'].fillna(dfLoanAmount, inplace=True)

In [31]:
df.isna().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
Loan_Status          29
dtype: int64

In [33]:
dfLoan_Amount_Term = df['Loan_Amount_Term'].mode()[0]
print(dfLoan_Amount_Term)

360.0

In [35]:
df['Loan_Amount_Term'].fillna(dfLoan_Amount_Term, inplace=True)

C:\Users\beliz\AppData\Local\Temp\ipykernel_8948\2750705759.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Loan_Amount_Term'].fillna(dfLoan_Amount_Term, inplace=True)

In [37]:
df.isna().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       29
Property_Area         0
Loan_Status          29
dtype: int64

In [39]:
dfCredit_History = df['Credit_History'].mode()[0]
print(dfCredit_History)

1.0

In [41]:
df['Credit_History'].fillna(dfCredit_History, inplace=True)

C:\Users\beliz\AppData\Local\Temp\ipykernel_8948\2888225015.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Credit_History'].fillna(dfCredit_History, inplace=True)

In [43]:
df.isna().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status          29
dtype: int64

In [45]:
dfLoan_Status = df['Loan_Status'].mode()[0]
print(dfLoan_Status)

1.0

In [47]:
df['Loan_Status'].fillna(dfLoan_Status, inplace=True)

C:\Users\beliz\AppData\Local\Temp\ipykernel_8948\3553877240.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Loan_Status'].fillna(dfLoan_Status, inplace=True)

In [49]:
df.isna().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [89]:
df.head(28)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,1.0
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,1.0
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,1.0
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,1.0,Urban,1.0
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,1.0
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban,1.0
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban,1.0
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural,0.0
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban,1.0
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban,1.0
10,LP001078,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban,1.0
11,LP001082,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban,1.0
12,LP001083,Male,No,3+,Graduate,No,4166,0,40.0,180.0,1.0,Urban,1.0
13,LP001094,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban,0.0
14,LP001096,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban,1.0
15,LP001099,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban,1.0
16,LP001105,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban,1.0
17,LP001107,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban,1.0
18,LP001108,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban,1.0
19,LP001115,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban,1.0
20,LP001121,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban,1.0
21,LP001124,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban,1.0
22,LP001128,Male,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban,1.0
23,LP001135,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban,1.0
24,LP001149,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban,1.0
25,LP001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural,0.0
26,LP001163,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,1.0,Urban,1.0
27,LP001169,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban,1.0

In [53]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
count,367.000000,367.000000,367.000000,367.000000,367.000000,367.000000
mean,4805.599455,1569.577657,136.132597,342.822888,0.839237,0.839237
std,4910.685399,2334.232099,60.946040,64.658402,0.367814,0.367814
min,0.000000,0.000000,28.000000,6.000000,0.000000,0.000000
25%,2864.000000,0.000000,101.000000,360.000000,1.000000,1.000000
50%,3786.000000,1025.000000,126.000000,360.000000,1.000000,1.000000
75%,5060.000000,2430.500000,157.500000,360.000000,1.000000,1.000000
max,72529.000000,24000.000000,550.000000,480.000000,1.000000,1.000000

In [55]:
Q1 = df['CoapplicantIncome'].quantile(0.25)
Q1

0.0

In [57]:
Q3=df['CoapplicantIncome'].quantile(0.75)
Q3

2430.5

In [59]:
IQR = Q3 - Q1
IQR

2430.5

In [61]:
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
lower_bound
upper_bound

6076.25

In [63]:
lower_bound

-3645.75

In [65]:
outlier = (df['CoapplicantIncome']<lower_bound) | (df['CoapplicantIncome']>upper_bound)

In [69]:
outlier

0      False
1      False
2      False
3      False
4      False
       ...
362    False
363    False
364    False
365    False
366    False
Name: CoapplicantIncome, Length: 367, dtype: bool

In [71]:
df_cleaned = df[~outlier]

In [82]:
print(df_cleaned)

      Loan_ID Gender Married Dependents     Education Self_Employed  \
0    LP001015   Male     Yes          0      Graduate            No
1    LP001022   Male     Yes          1      Graduate            No
2    LP001031   Male     Yes          2      Graduate            No
3    LP001035   Male     Yes          2      Graduate            No
4    LP001051   Male      No          0  Not Graduate            No
..        ...    ...     ...        ...           ...           ...
362  LP002971   Male     Yes         3+  Not Graduate           Yes
363  LP002975   Male     Yes          0      Graduate            No
364  LP002980   Male      No          0      Graduate            No
365  LP002986   Male     Yes          0      Graduate            No
366  LP002989   Male      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5720                  0       110.0             360.0
1               3076               1500       126.0             360.0
2               5000               1800       208.0             360.0
3               2340               2546       100.0             360.0
4               3276                  0        78.0             360.0
..               ...                ...         ...               ...
362             4009               1777       113.0             360.0
363             4158                709       115.0             360.0
364             3250               1993       126.0             360.0
365             5000               2393       158.0             360.0
366             9200                  0        98.0             180.0

     Credit_History Property_Area  Loan_Status
0               1.0         Urban          1.0
1               1.0         Urban          1.0
2               1.0         Urban          1.0
3               1.0         Urban          1.0
4               1.0         Urban          1.0
..              ...           ...          ...
362             1.0         Urban          1.0
363             1.0         Urban          1.0
364             1.0     Semiurban          1.0
365             1.0         Rural          1.0
366             1.0         Rural          1.0

[359 rows x 13 columns]

In [73]:
Q1 = df['ApplicantIncome'].quantile(0.25)
Q1

2864.0

In [75]:
Q3=df['ApplicantIncome'].quantile(0.75)
Q3

5060.0

In [77]:
IQR = Q3 - Q1
IQR

2196.0

In [79]:
lower_boundAI = Q1 - 1.5 * IQR
upper_boundAI = Q3 + 1.5 * IQR
lower_boundAI
upper_boundAI

8354.0

In [81]:
lower_boundAI

-430.0

In [83]:
outlierAI = (df['ApplicantIncome']<lower_boundAI) | (df['ApplicantIncome']>upper_boundAI)

In [85]:
df_cleaned = df[~outlierAI]

In [87]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\beliz\anaconda3\lib\site-packages (1.4.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.19.5 in c:\users\beliz\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\beliz\anaconda3\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\beliz\anaconda3\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\beliz\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [91]:
df.head(2)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,1.0
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,1.0

In [93]:
x = df.iloc[:,6].values.reshape(-1,1)
y = df.iloc[:,-1].values

In [95]:
x

array([[ 5720],
       [ 3076],
       [ 5000],
       [ 2340],
       [ 3276],
       [ 2165],
       [ 2226],
       [ 3881],
       [13633],
       [ 2400],
       [ 3091],
       [ 2185],
       [ 4166],
       [12173],
       [ 4666],
       [ 5667],
       [ 4583],
       [ 3786],
       [ 9226],
       [ 1300],
       [ 1888],
       [ 2083],
       [ 3909],
       [ 3765],
       [ 5400],
       [    0],
       [ 4363],
       [ 7500],
       [ 3772],
       [ 2942],
       [ 2478],
       [ 6250],
       [ 3268],
       [ 2783],
       [ 2740],
       [ 3150],
       [ 7350],
       [ 2267],
       [ 5833],
       [ 3643],
       [ 5629],
       [ 3644],
       [ 1750],
       [ 6500],
       [ 3666],
       [ 4260],
       [ 4163],
       [ 2356],
       [ 6792],
       [ 8000],
       [ 2419],
       [ 3500],
       [ 3500],
       [ 4116],
       [ 5293],
       [ 2750],
       [ 4402],
       [ 3613],
       [ 2779],
       [ 4720],
       [ 2415],
       [ 7016],
       [ 4968],
       [ 2101],
       [ 4490],
       [ 2917],
       [ 4700],
       [ 3445],
       [ 7666],
       [ 2458],
       [ 3250],
       [ 4463],
       [ 4083],
       [ 3900],
       [ 4750],
       [ 3583],
       [ 3189],
       [ 6356],
       [ 3413],
       [ 7950],
       [ 3829],
       [72529],
       [ 4136],
       [ 8449],
       [ 4456],
       [ 4635],
       [ 3571],
       [ 3066],
       [ 3235],
       [ 5058],
       [ 3188],
       [13518],
       [ 4364],
       [ 4766],
       [ 4609],
       [ 6260],
       [ 3333],
       [ 3500],
       [ 9719],
       [ 6835],
       [ 4452],
       [ 2262],
       [ 3901],
       [ 2687],
       [ 2243],
       [ 3417],
       [ 1596],
       [ 4513],
       [ 4500],
       [ 4523],
       [ 4742],
       [ 4082],
       [ 3417],
       [ 2922],
       [ 4167],
       [ 4243],
       [    0],
       [ 1516],
       [ 1762],
       [  724],
       [ 3125],
       [ 2333],
       [ 3350],
       [ 2500],
       [12500],
       [ 4667],
       [ 6500],
       [ 7500],
       [ 3073],
       [ 3321],
       [ 3333],
       [ 3391],
       [ 3343],
       [ 3620],
       [ 4000],
       [ 4258],
       [ 4500],
       [ 2014],
       [ 3333],
       [ 4083],
       [ 4727],
       [ 3089],
       [ 6794],
       [32000],
       [10890],
       [12941],
       [ 3276],
       [ 8703],
       [ 4742],
       [ 5900],
       [ 3071],
       [ 2783],
       [ 5000],
       [ 2463],
       [ 4855],
       [ 1599],
       [ 4246],
       [ 4333],
       [ 5823],
       [ 7895],
       [ 4150],
       [ 2964],
       [ 5583],
       [ 2708],
       [ 3180],
       [ 2268],
       [ 1141],
       [ 3042],
       [ 1750],
       [ 3564],
       [ 3958],
       [ 4483],
       [ 5225],
       [ 3017],
       [ 2431],
       [ 4912],
       [ 2500],
       [ 2918],
       [ 5128],
       [15312],
       [ 3958],
       [ 4334],
       [ 4358],
       [ 4000],
       [10166],
       [ 4483],
       [ 4521],
       [ 9167],
       [13083],
       [ 7874],
       [ 4333],
       [ 4083],
       [ 3785],
       [ 2654],
       [10000],
       [ 5833],
       [ 4796],
       [ 2000],
       [ 2540],
       [ 1900],
       [ 8706],
       [ 2855],
       [ 3016],
       [ 3159],
       [ 1937],
       [ 2613],
       [ 4960],
       [ 3074],
       [ 4213],
       [ 2038],
       [ 2362],
       [ 5333],
       [ 5384],
       [ 5708],
       [ 3754],
       [ 2914],
       [ 2747],
       [ 7830],
       [ 3507],
       [ 3747],
       [ 2166],
       [ 3500],
       [ 2896],
       [ 5062],
       [ 5184],
       [ 2545],
       [ 2553],
       [ 3436],
       [ 2412],
       [ 5180],
       [14911],
       [ 2860],
       [ 1173],
       [ 7600],
       [ 2157],
       [ 2231],
       [ 2274],
       [ 6166],
       [ 2513],
       [ 4333],
       [ 3844],
       [ 3887],
       [ 3510],
       [ 2539],
       [ 2107],
       [ 3186],
       [ 5000],
       [10000],
       [ 3943],
       [ 2925],
       [ 3242],
       [ 3863],
       [ 4028],
       [ 4010],
       [ 3719],
       [ 2858],
       [ 3833],
       [ 3333],
       [ 3007],
       [ 1850],
       [ 2792],
       [ 2982],
       [ 3417],
       [18840],
       [ 2995],
       [ 3579],
       [ 3835],
       [ 3854],
       [ 5833],
       [ 3508],
       [ 1635],
       [ 3333],
       [24797],
       [ 5667],
       [ 3500],
       [ 2773],
       [ 6500],
       [ 5769],
       [ 3634],
       [29167],
       [ 2166],
       [ 5000],
       [ 5530],
       [ 9000],
       [10000],
       [ 8750],
       [ 2157],
       [ 1972],
       [ 4983],
       [ 8333],
       [ 3667],
       [ 3166],
       [ 3271],
       [ 2241],
       [ 1792],
       [ 2666],
       [ 6478],
       [ 3808],
       [ 3729],
       [ 4120],
       [ 7500],
       [ 6300],
       [14987],
       [  570],
       [ 2600],
       [ 2733],
       [ 7500],
       [ 3859],
       [ 6825],
       [ 3708],
       [ 5314],
       [ 2366],
       [ 2066],
       [ 5000],
       [ 3767],
       [ 7859],
       [ 4283],
       [ 1700],
       [ 4768],
       [ 3083],
       [ 2667],
       [ 1647],
       [ 3400],
       [16000],
       [ 5333],
       [ 2875],
       [ 2600],
       [ 5041],
       [ 6958],
       [ 3500],
       [ 5509],
       [ 9699],
       [ 3621],
       [ 4709],
       [ 1516],
       [ 2400],
       [ 3015],
       [ 2292],
       [ 2360],
       [ 4333],
       [ 2623],
       [ 3972],
       [ 3522],
       [ 4700],
       [ 6858],
       [ 8334],
       [ 3391],
       [ 2868],
       [ 3418],
       [ 2500],
       [ 8667],
       [ 2283],
       [ 5817],
       [ 5119],
       [ 5316],
       [ 7603],
       [ 3791],
       [ 2500],
       [ 3132],
       [ 4000],
       [ 8550],
       [ 2269],
       [ 4009],
       [ 4158],
       [ 3250],
       [ 5000],
       [ 9200]], dtype=int64)

In [97]:
y

array([1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 0., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 1., 0., 1., 1., 0., 0.,
       1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 0., 1., 0.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 0.,
       1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0.,
       0., 1., 1., 1., 0., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 0., 1., 0., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1.,
       0., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 0., 1., 0., 1.,
       1., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 0., 0., 1., 1., 0., 1., 0., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 0., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 0., 0., 1.,
       1., 1., 1., 0., 1., 0., 1., 0., 1., 1., 1., 1., 0., 1., 1., 1., 1.,
       0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 0., 1., 1., 1.,
       1., 0., 0., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1.,
       1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0.,
       1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [99]:
df.head(2)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,1.0
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,1.0

In [103]:
X = df.drop('Loan_Status', axis=1)

In [105]:
y = df['Loan_Status']

In [107]:
X.shape, y.shape

((367, 12), (367,))

In [109]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [111]:
print("Training set: ", X_train.shape, y_train.shape)
print("Testing set: ", X_test.shape, y_test.shape)

Training set:  (293, 12) (293,)
Testing set:  (74, 12) (74,)

In [117]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [119]:
lr.fit(X_train, y_train)

ValueError: could not convert string to float: 'LP002869'